table {
	border-spacing: 0;
	border: 2px solid black;
}

table tr:first-of-type td {
	border-top: none;
}

table tr td:first-of-type {
	border-left: none;
}

td {
	font-size: 3em;
	width: 75px;
	height: 75px;
	box-sizing: border-box;
	border: 1px solid dimgrey;
	text-align: center;
	border-style: outset;
}

.border-left {
	border-left: 2px solid black;
}

.border-top {
	border-top: 2px solid black;
}

.border-right {
	border-right: 2px solid black;
}

.border-bottom {
	border-bottom: 2px solid black;
}
